h1{
    background-color:red;
    font-family:cursive;
}
p{
    background-color:rgb(156, 161, 6);
    font-family:cursive;
}
body{
    background-color:powderblue;
    font-family:cursive;
}